/*  #040720 = Hitam ke biruan
    test
*/

body {
    font-size: 1rem;
    color: #05ff00;
    font-family: monospace;
    margin: 0;
    background: url("Asset/bg.png");
}
li {
    display: block;
    transform: scale(1);
    transition: transform 0.05s ease;
    list-style: none;
}
li:hover {
    transform: scale(1.1);
}
a {
    text-shadow: 0 0 20px #fff;
    color: #fff;
    text-decoration: underline;
    transform: scale(1);
    transition: transform 0.2s ease, text-shadow 0.2s ease, color 0.2s ease;
}
a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 30px #05ff00;
    color: #05ff00;
}
button {
    filter: drop-shadow(0 0 2rem #05ff00);
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #040720;
    color: #fff;
    text-shadow: 0 0 20px #05ff00;  
    font-weight: bold;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease, filter 0.2s ease;
}
button:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1rem #05ff00);
}
button:active {
    transform: scale(0.95);
    filter: drop-shadow(0 0 0.5rem #05ff00);
}
.Portofolio {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 10s ease, visibility 0.5s ease;
}
.Portofolio.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.Opening {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.Opening.Hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.OpeningLogo {
    transform: scale(1);
    transition: transform 0.2s ease, filter 0.2s ease;
    filter: drop-shadow(0 0 0 #05ff00);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
}
.OpeningLogo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 3rem #05ff00);
}
.OpeningLogo:active {
    transform: scale(0.95);
    filter: drop-shadow(0 0 1rem #05ff00);
}
.SubJudul {
    text-shadow: 0 0 20px gold;
    color: gold;
    font-size: 1.5rem;

}
.Content {
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.HanLogo {
    display: inline-block;
    transform: scale(1);
    transition: transform 0.2s ease, filter 0.2s ease;
    filter: drop-shadow(0 0 2rem #05ff00);
    border-radius: 50%;
    width: 10rem;
}
.HanLogo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 3rem #05ff00);
}

.Personal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Roles {
    margin-left: 0.5rem;    
}

.Skills {
    text-align: right;
    margin-right: 0.5rem;
}

.About {
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AboutContent {
    display:flex;
    text-align: left;
}   
.AboutContent video {
    margin: 1rem;
    width: 10rem;
    border-radius: 1rem;
}
.AboutText {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: left;
}
.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 1rem;
}
.ProjectImage {
    display: inline-block;
    transition: transform 0.2s ease, filter 0.2s ease;
    width: 15vh;
    border-radius: 1rem;
    margin-top: 0.5rem;
}
.ProjectImage:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 1rem #05ff00);
}
.ProjectContent {
    font-size: 0.8rem;
    width: 17.5vh;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: linear-gradient(190deg, #040720, #05ff00, #040720);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProjectList {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.Details {
    padding: 1rem;
    border-radius: 1rem;
    width: 75%;
    position: fixed;
    top: 25%;
    background-color: #040720;
    box-shadow: 0 0 20px #05ff00;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.Details.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.Contacts {
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Contact {
    filter: drop-shadow(0 0 2rem #05ff00);
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: linear-gradient(190deg, #040720, #05ff00);
    display: flex;
    align-items: center;
}
